$primary-color: #fff;
$secondary-color: #292929;
$smoke-text-color: #495263;
$dark-blue-color: #28344a;
$light-white-color: #fff9f8;
$light-smoke-text-color: #5b5a62;
$dark-smoke-text-color: #5e5c68;
$darker-black-color: #27272c;
$dark-color: #1f1f1f;
$dark-grey-color: #414141;
$light-green-color: #0d8772;
$light-grey-color: #6f6f75;
$purple-color: #864bd8;
$grey-color: #b5b8c6;
$grey-text-color: #838383;
$orange-color: #f36532;
$light-orange-color: #f57343;
$smokeGrey-color: #919098;
$yellow-color: #ffb200;
$navy-blue-color: #292e37;
$text-color: #83828a;
$light-purple-color: #bc95f2;
$title-text-color: #a3a2a8;
$footer-text-color: #72747a;
$footer-title-color: #727278;
$footer-subtitle-color: #c1c6cc;
$light-pink-color: #ebddfd;
$light-yellow-color: #fff0cd;
$whiteYellow-color: #ffe8e0;
$water-green-color: #e4f7f1;
$whiteOrange-color: #ffeae0;
$whiteYellow-background-color: #f8f0de;
$whitePurple-backgroun-color: #eae1f6;
$plain-white-color: #f8f7fe;
